In [1]:
import pandas as pd
import datetime
import glob
import sqlite3
import psycopg2
from sqlalchemy import create_engine, func, inspect, distinct
import os

from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [2]:
all_csv = glob.glob('../Desktop/AQI_project/2020_aqi/*.csv')

print(all_csv)

['../Desktop/AQI_project/2020_aqi/ad_viz_plotval_data (2).csv', '../Desktop/AQI_project/2020_aqi/ad_viz_plotval_data (3).csv', '../Desktop/AQI_project/2020_aqi/ad_viz_plotval_data (4).csv', '../Desktop/AQI_project/2020_aqi/ad_viz_plotval_data (5).csv', '../Desktop/AQI_project/2020_aqi/ad_viz_plotval_data.csv', '../Desktop/AQI_project/2020_aqi/ad_viz_plotval_data (6).csv', '../Desktop/AQI_project/2020_aqi/ad_viz_plotval_data (1).csv']

In [3]:
appended_data = []

for i in all_csv:
    
    csv_path = i
    csv = pd.read_csv(csv_path)
    appended_data.append(csv)
    
apd = pd.concat(appended_data)

In [4]:
air_2020 = pd.DataFrame(apd)

air_2020.head()

,Date,Source,Site ID,POC,Daily Mean Pb Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,...,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE,Daily Max 1-hour NO2 Concentration,Daily Mean PM10 Concentration,Daily Mean PM2.5 Concentration,Daily Max 8-hour Ozone Concentration,Daily Max 1-hour SO2 Concentration,Daily Max 8-hour CO Concentration
0,01/04/2020,AQS,390290019,1,0.002,ug/m3 LC,.,Port Authority,1,100.0,...,29,Columbiana,40.631545,-80.547181,NaN,NaN,NaN,NaN,NaN,NaN
1,01/10/2020,AQS,390290019,1,0.004,ug/m3 LC,.,Port Authority,1,100.0,...,29,Columbiana,40.631545,-80.547181,NaN,NaN,NaN,NaN,NaN,NaN
2,01/16/2020,AQS,390290019,1,0.002,ug/m3 LC,.,Port Authority,1,100.0,...,29,Columbiana,40.631545,-80.547181,NaN,NaN,NaN,NaN,NaN,NaN
3,01/22/2020,AQS,390290019,1,0.007,ug/m3 LC,.,Port Authority,1,100.0,...,29,Columbiana,40.631545,-80.547181,NaN,NaN,NaN,NaN,NaN,NaN
4,01/28/2020,AQS,390290019,1,0.002,ug/m3 LC,.,Port Authority,1,100.0,...,29,Columbiana,40.631545,-80.547181,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
air_2020.dtypes

Date                                     object
Source                                   object
Site ID                                   int64
POC                                       int64
Daily Mean Pb Concentration             float64
UNITS                                    object
DAILY_AQI_VALUE                          object
Site Name                                object
DAILY_OBS_COUNT                           int64
PERCENT_COMPLETE                        float64
AQS_PARAMETER_CODE                        int64
AQS_PARAMETER_DESC                       object
CBSA_CODE                               float64
CBSA_NAME                                object
STATE_CODE                                int64
STATE                                    object
COUNTY_CODE                               int64
COUNTY                                   object
SITE_LATITUDE                           float64
SITE_LONGITUDE                          float64
Daily Max 1-hour NO2 Concentration      float64
Daily Mean PM10 Concentration           float64
Daily Mean PM2.5 Concentration          float64
Daily Max 8-hour Ozone Concentration    float64
Daily Max 1-hour SO2 Concentration      float64
Daily Max 8-hour CO Concentration       float64
dtype: object

In [6]:
cols = air_2020.columns.to_list()

cols

['Date',
 'Source',
 'Site ID',
 'POC',
 'Daily Mean Pb Concentration',
 'UNITS',
 'DAILY_AQI_VALUE',
 'Site Name',
 'DAILY_OBS_COUNT',
 'PERCENT_COMPLETE',
 'AQS_PARAMETER_CODE',
 'AQS_PARAMETER_DESC',
 'CBSA_CODE',
 'CBSA_NAME',
 'STATE_CODE',
 'STATE',
 'COUNTY_CODE',
 'COUNTY',
 'SITE_LATITUDE',
 'SITE_LONGITUDE',
 'Daily Max 1-hour NO2 Concentration',
 'Daily Mean PM10 Concentration',
 'Daily Mean PM2.5 Concentration',
 'Daily Max 8-hour Ozone Concentration',
 'Daily Max 1-hour SO2 Concentration',
 'Daily Max 8-hour CO Concentration']

In [7]:
site_info = air_2020.drop(['Source','CBSA_CODE','Date','POC','AQS_PARAMETER_DESC','DAILY_AQI_VALUE','DAILY_OBS_COUNT','AQS_PARAMETER_CODE','PERCENT_COMPLETE','Daily Mean Pb Concentration','Daily Max 1-hour NO2 Concentration', 'UNITS','Daily Mean PM10 Concentration','Daily Mean PM2.5 Concentration','Daily Max 8-hour Ozone Concentration','Daily Max 1-hour SO2 Concentration', 'Daily Max 8-hour CO Concentration'], axis = 1)

In [8]:
site_info = site_info.drop_duplicates()

site_info.head()

,Site ID,Site Name,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,390290019,Port Authority,"Salem, OH",39,Ohio,29,Columbiana,40.631545,-80.547181
5,390290020,East Liverpool WTP,"Salem, OH",39,Ohio,29,Columbiana,40.639509,-80.523951
16,390290023,Eastside Elem,"Salem, OH",39,Ohio,29,Columbiana,40.634688,-80.545695
26,390350038,St Theodosius,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.477011,-81.682383
31,390350049,Ferro,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.446342,-81.650700

In [9]:
lead_2020 = air_2020.drop(['Site Name','POC','DAILY_AQI_VALUE','DAILY_OBS_COUNT','AQS_PARAMETER_CODE','Source','CBSA_NAME','CBSA_CODE','STATE_CODE','STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE','SITE_LONGITUDE','Daily Max 1-hour NO2 Concentration', 'UNITS','Daily Mean PM10 Concentration','Daily Mean PM2.5 Concentration','Daily Max 8-hour Ozone Concentration','Daily Max 1-hour SO2 Concentration', 'Daily Max 8-hour CO Concentration'], axis =1)

In [10]:
no2_2020 = air_2020.drop(['Site Name','POC','DAILY_AQI_VALUE','DAILY_OBS_COUNT','AQS_PARAMETER_CODE','Source','CBSA_NAME','CBSA_CODE','STATE_CODE','STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE','SITE_LONGITUDE','Daily Mean Pb Concentration', 'UNITS','Daily Mean PM10 Concentration','Daily Mean PM2.5 Concentration','Daily Max 8-hour Ozone Concentration','Daily Max 1-hour SO2 Concentration', 'Daily Max 8-hour CO Concentration'], axis = 1)

In [11]:
pm10_2020 = air_2020.drop(['Site Name','POC','DAILY_AQI_VALUE','DAILY_OBS_COUNT','AQS_PARAMETER_CODE','Source','CBSA_NAME','CBSA_CODE','STATE_CODE','STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE','SITE_LONGITUDE','Daily Mean Pb Concentration','Daily Max 1-hour NO2 Concentration' ,'Daily Mean PM2.5 Concentration','Daily Max 8-hour Ozone Concentration','Daily Max 1-hour SO2 Concentration', 'Daily Max 8-hour CO Concentration'], axis = 1)

In [12]:
pm2_2020 = air_2020.drop(['Site Name','POC','DAILY_AQI_VALUE','DAILY_OBS_COUNT','AQS_PARAMETER_CODE','Source','CBSA_NAME','CBSA_CODE','STATE_CODE','STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE','SITE_LONGITUDE','Daily Mean Pb Concentration','Daily Max 1-hour NO2 Concentration' ,'Daily Mean PM10 Concentration','Daily Max 8-hour Ozone Concentration','Daily Max 1-hour SO2 Concentration', 'Daily Max 8-hour CO Concentration'], axis = 1)

In [13]:
ozone_2020 = air_2020.drop(['Site Name','POC','DAILY_AQI_VALUE','DAILY_OBS_COUNT','AQS_PARAMETER_CODE','Source','CBSA_NAME','CBSA_CODE','STATE_CODE','STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE','SITE_LONGITUDE','Daily Mean Pb Concentration','Daily Max 1-hour NO2 Concentration' ,'Daily Mean PM2.5 Concentration','Daily Mean PM10 Concentration','Daily Max 1-hour SO2 Concentration', 'Daily Max 8-hour CO Concentration'], axis = 1)

In [14]:
so2_2020 = air_2020.drop(['Site Name','POC','DAILY_AQI_VALUE','DAILY_OBS_COUNT','AQS_PARAMETER_CODE','Source','CBSA_NAME','CBSA_CODE','STATE_CODE','STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE','SITE_LONGITUDE','Daily Mean Pb Concentration','Daily Max 1-hour NO2 Concentration' ,'Daily Mean PM2.5 Concentration','Daily Max 8-hour Ozone Concentration','Daily Mean PM10 Concentration', 'Daily Max 8-hour CO Concentration'], axis = 1)

In [15]:
co_2020 = air_2020.drop(['Site Name','POC','DAILY_AQI_VALUE','DAILY_OBS_COUNT','AQS_PARAMETER_CODE','Source','CBSA_NAME','CBSA_CODE','STATE_CODE','STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE','SITE_LONGITUDE','Daily Mean Pb Concentration','Daily Max 1-hour NO2 Concentration' ,'Daily Mean PM2.5 Concentration','Daily Max 8-hour Ozone Concentration','Daily Max 1-hour SO2 Concentration', 'Daily Mean PM10 Concentration'], axis = 1)

In [16]:
lead_2020.head()

,Date,Site ID,Daily Mean Pb Concentration,PERCENT_COMPLETE,AQS_PARAMETER_DESC
0,01/04/2020,390290019,0.002,100.0,Lead (TSP) LC
1,01/10/2020,390290019,0.004,100.0,Lead (TSP) LC
2,01/16/2020,390290019,0.002,100.0,Lead (TSP) LC
3,01/22/2020,390290019,0.007,100.0,Lead (TSP) LC
4,01/28/2020,390290019,0.002,100.0,Lead (TSP) LC

In [17]:
conn = sqlite3.connect('AQI_2020_Data')

c = conn.cursor()

In [18]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

In [19]:
get_df_name(lead_2020)

'lead_2020'

In [20]:
def column_names(df):
    all_cols = []
    col_list = df.columns.to_list()
    for i in col_list:
        clean_item = str(i).replace(" ","_")
        all_cols.append(clean_item)
            
    final_list = str(all_cols).replace("[","(").replace("'","").replace("]",")").replace('"','').replace("-","").replace(".","pnt")
    
    
    return final_list

In [21]:
column_names(lead_2020)

'(Date, Site_ID, Daily_Mean_Pb_Concentration, PERCENT_COMPLETE, AQS_PARAMETER_DESC)'

In [22]:
def new_table(x):
    y = column_names(x)
    
    q = get_df_name(x)
    
    f = str(f"'CREATE TABLE {q} {y}'")
    
    g = f.replace("'","")
    
    c.execute(g)
    
    conn.commit()
    
    x.to_sql( q , conn, if_exists='replace', index = False)

In [23]:
def sql_fetch():

    cursorObj = conn.cursor()

    cursorObj.execute('SELECT name from sqlite_master where type= "table"')

    print(cursorObj.fetchall())

sql_fetch()

[]

In [24]:
def add_to_sql(x):
    
    y = get_df_name(x)
    
    x.to_sql(y, conn, if_exists= 'replace', index = False)

In [25]:
## this is to create SQLite db, GO DOWN FARTHER TO FOR POSTRGRES

In [26]:
new_table(site_info)
add_to_sql(site_info)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [27]:
new_table(lead_2020)
add_to_sql(lead_2020)

In [28]:
new_table(no2_2020)
add_to_sql(no2_2020)

In [29]:
new_table(pm10_2020)
add_to_sql(pm10_2020)

In [30]:
new_table(pm2_2020)
add_to_sql(pm2_2020)

In [31]:
new_table(ozone_2020)
add_to_sql(ozone_2020)

In [32]:
new_table(so2_2020)
add_to_sql(so2_2020)

In [33]:
new_table(co_2020)
add_to_sql(co_2020)

In [34]:
sql_fetch()

[('site_info',), ('lead_2020',), ('no2_2020',), ('pm10_2020',), ('pm2_2020',), ('ozone_2020',), ('so2_2020',), ('co_2020',)]

In [35]:
post_engine = create_engine('postgresql+psycopg2://postgres:Clay1001.@localhost:5433', pool_recycle=3600);

In [36]:
post_conn = post_engine.connect()

In [37]:
def postgres_table(x):
    
    
    table = get_df_name(x)
    
    
    postgreSQLTable         = table;

 

    try:

        frame           = x.to_sql(postgreSQLTable, post_conn, if_exists='fail');

    except ValueError as vx:

        print(vx)

    except Exception as ex:  

        print(ex)

    else:

        print("PostgreSQL Table %s has been created successfully."%postgreSQLTable);

    #finally:

        #post_conn.close();

In [40]:
postgres_table(site_info)

Table 'site_info' already exists.

In [41]:
postgres_table(lead_2020)

PostgreSQL Table lead_2020 has been created successfully.

In [42]:
postgres_table(no2_2020)

PostgreSQL Table no2_2020 has been created successfully.

In [43]:
postgres_table(pm10_2020)

PostgreSQL Table pm10_2020 has been created successfully.

In [44]:
postgres_table(pm2_2020)

PostgreSQL Table pm2_2020 has been created successfully.

In [45]:
postgres_table(ozone_2020)

PostgreSQL Table ozone_2020 has been created successfully.

In [46]:
postgres_table(so2_2020)

PostgreSQL Table so2_2020 has been created successfully.

In [47]:
postgres_table(co_2020)

PostgreSQL Table co_2020 has been created successfully.

In [53]:
this = post_conn.execute('Select * from site_info')

In [54]:
###just to show it works

for i in this:
    
    print(i)

(0, 390290019, 'Port Authority', 'Salem, OH', 39, 'Ohio', 29, 'Columbiana', 40.631545, -80.54718100000001)
(5, 390290020, 'East Liverpool WTP', 'Salem, OH', 39, 'Ohio', 29, 'Columbiana', 40.639509000000004, -80.523951)
(16, 390290023, 'Eastside Elem', 'Salem, OH', 39, 'Ohio', 29, 'Columbiana', 40.6346880009325, -80.545695)
(26, 390350038, 'St Theodosius', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.477011, -81.682383)
(31, 390350049, 'Ferro', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.446342, -81.6507)
(41, 390510001, 'Delta', 'Toledo, OH', 39, 'Ohio', 51, 'Fulton', 41.575880000936706, -83.9959)
(60, 391010003, 'Marion Hawthorne', 'Marion, OH', 39, 'Ohio', 101, 'Marion', 40.57158, -83.135648)
(71, 391010004, 'Marion Bellefontaine', 'Marion, OH', 39, 'Ohio', 101, 'Marion', 40.5766500009323, -83.14022)
(76, 391510024, 'Republic Steel', 'Canton-Massillon, OH', 39, 'Ohio', 151, 'Stark', 40.80032, -81.33136999999999)
(86, 391670008, 'Washington Career', 'Marietta, OH', 39, 'Ohio', 167, 'Washington', 39.431470000000004, -81.50131)
(0, 390130006, 'Shadyside', 'Wheeling, WV-OH', 39, 'Ohio', 13, 'Belmont', 39.9679, -80.7464)
(121, 390350060, 'GT Craig NCore', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.492117, -81.678449)
(300, 390350073, 'Cleveland Near Road', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.440129999999996, -81.494833)
(455, 390490034, 'Fairgrounds', 'Columbus, OH', 39, 'Ohio', 49, 'Franklin', 40.002707, -82.994424)
(583, 390490038, 'Smoky Row Near Road', 'Columbus, OH', 39, 'Ohio', 49, 'Franklin', 40.11107, -83.065415)
(735, 390610040, 'Taft NCore', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 61, 'Hamilton', 39.128859999999996, -84.50404)
(877, 390610048, 'Cincinnati Near Road', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 61, 'Hamilton', 39.146025, -84.538375)
(26, 390170015, 'Ohio Bell', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.49072, -84.36374)
(46, 390170019, 'Amanda Elem', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.479822, -84.409617)
(63, 390170020, 'Yankee', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.472436, -84.394952)
(213, 390350045, 'Cleveland Fire St13', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.471782, -81.65679200000001)
(446, 390350065, 'Harvard Yards', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.4466244, -81.6623559)
(462, 390351002, 'Brookpark', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.39629, -81.818667)
(484, 390610014, 'Carthage', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 61, 'Hamilton', 39.19433, -84.478974)
(722, 390670005, 'Hopedale', None, 39, 'Ohio', 67, 'Harrison', 40.332933300931, -80.9334011)
(731, 390810001, 'Brilliant', 'Weirton-Steubenville, WV-OH', 39, 'Ohio', 81, 'Jefferson', 40.26157, -80.6335)
(745, 390810017, 'Stuebenville', 'Weirton-Steubenville, WV-OH', 39, 'Ohio', 81, 'Jefferson', 40.366440000000004, -80.61558000000001)
(773, 390850008, 'Fairport Harbor Lake', 'Cleveland-Elyria, OH', 39, 'Ohio', 85, 'Lake', 41.758462, -81.278129)
(799, 390870012, 'ODOT Ironton', 'Huntington-Ashland, WV-KY-OH', 39, 'Ohio', 87, 'Lawrence', 38.508075, -82.65924100000001)
(815, 390933002, 'Barr School', 'Cleveland-Elyria, OH', 39, 'Ohio', 93, 'Lorain', 41.463071, -82.114261)
(823, 391130038, 'Sinclair', 'Dayton, OH', 39, 'Ohio', 113, 'Montgomery', 39.7559690009278, -84.198674)
(944, 391450013, 'Portsmouth WTP', 'Portsmouth, OH', 39, 'Ohio', 145, 'Scioto', 38.754599, -82.91701)
(960, 391450019, 'PCAB', 'Portsmouth, OH', 39, 'Ohio', 145, 'Scioto', 38.735056, -82.998726)
(976, 391450020, 'Back Road', 'Portsmouth, OH', 39, 'Ohio', 145, 'Scioto', 38.609338, -82.822512)
(1096, 391450021, 'Gallia Pike North', 'Portsmouth, OH', 39, 'Ohio', 145, 'Scioto', 38.600611, -82.829782)
(1217, 391450022, 'Gallia Pike South', 'Portsmouth, OH', 39, 'Ohio', 145, 'Scioto', 38.588034, -82.834973)
(1338, 391550006, 'Warren WWTP', 'Youngstown-Warren-Boardman, OH-PA', 39, 'Ohio', 155, 'Trumbull', 41.202220000000004, -80.81058399999999)
(1343, 391550014, 'Laird Eng Bldg', 'Youngstown-Warren-Boardman, OH-PA', 39, 'Ohio', 155, 'Trumbull', 41.2317200009353, -80.80116)
(0, 390010001, 'West Union', None, 39, 'Ohio', 1, 'Adams', 38.794709999999995, -83.53398)
(185, 390030009, 'Lima', 'Lima, OH', 39, 'Ohio', 3, 'Allen', 40.770944000933206, -84.0539)
(428, 390090003, 'Gifford', 'Athens, OH', 39, 'Ohio', 9, 'Athens', 39.442165, -81.908827)
(516, 390170016, 'Sacred Heart Elem', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.338390000000004, -84.5666)
(642, 390170022, 'BPG', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.478685999999996, -84.39711199999999)
(684, 390230005, 'Springfield Fire St1', 'Springfield, OH', 39, 'Ohio', 23, 'Clark', 39.92882, -83.80949)
(895, 390250022, 'Batavia', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 25, 'Clermont', 39.0828, -84.1441)
(1106, 390350034, 'District 6', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.55523, -81.57525600000001)
(1791, 390490029, 'New Albany', 'Columbus, OH', 39, 'Ohio', 49, 'Franklin', 40.0845140009297, -82.815585)
(2264, 390490081, 'Maple Canyon', 'Columbus, OH', 39, 'Ohio', 49, 'Franklin', 40.0877, -82.959773)
(2290, 390610006, 'Sycamore', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 61, 'Hamilton', 39.2787, -84.36625)
(2498, 390610010, 'Colerain', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 61, 'Hamilton', 39.21487, -84.69086)
(3198, 390610042, 'Lower Price Hill', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 61, 'Hamilton', 39.10492, -84.55117)
(3881, 390850007, 'Painesville', 'Cleveland-Elyria, OH', 39, 'Ohio', 85, 'Lake', 41.726811, -81.24215600000001)
(4626, 390950024, 'Erie', 'Toledo, OH', 39, 'Ohio', 95, 'Lucas', 41.644067, -83.54616)
(4869, 390950026, 'RAPS', 'Toledo, OH', 39, 'Ohio', 95, 'Lucas', 41.62057, -83.64226)
(4898, 390951003, 'Eastside Pump St', 'Toledo, OH', 39, 'Ohio', 95, 'Lucas', 41.6798670009371, -83.4785)
(4926, 390990014, 'Headstart', 'Youngstown-Warren-Boardman, OH-PA', 39, 'Ohio', 99, 'Mahoning', 41.0959600009347, -80.65847)
(5171, 391030004, 'Chippewa', 'Cleveland-Elyria, OH', 39, 'Ohio', 103, 'Medina', 41.0604, -81.9239)
(5638, 391330002, 'Ravenna', 'Akron, OH', 39, 'Ohio', 133, 'Portage', 41.1644, -81.2352)
(5662, 391351001, 'Preble NCore', 'Dayton, OH', 39, 'Ohio', 135, 'Preble', 39.83562, -84.720524)
(5922, 391510017, 'Canton Fire St8', 'Canton-Massillon, OH', 39, 'Ohio', 151, 'Stark', 40.7868036, -81.394153)
(5964, 391510020, 'Canton', 'Canton-Massillon, OH', 39, 'Ohio', 151, 'Stark', 40.800717, -81.373)
(6203, 391530017, 'East HS', 'Akron, OH', 39, 'Ohio', 153, 'Summit', 41.063526, -81.468956)
(6457, 391530023, 'Five Points', 'Akron, OH', 39, 'Ohio', 153, 'Summit', 41.087862, -81.54153199999999)
(6723, 391650007, 'Lebanon', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 165, 'Warren', 39.42689, -84.20076999999999)
(155, 390071001, 'Conneaut', 'Ashtabula, OH', 39, 'Ohio', 7, 'Ashtabula', 41.959695, -80.572808)
(309, 390170018, 'Middletown Airport', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.529444, -84.39345300000001)
(462, 390170023, 'Crawford Woods', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.384671000000004, -84.540537)
(616, 390179991, 'Oxford', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.5327, -84.7286)
(832, 390230001, 'Springfield Well Fd', 'Springfield, OH', 39, 'Ohio', 23, 'Clark', 40.00103, -83.80456)
(980, 390230003, 'Mud Run', 'Springfield, OH', 39, 'Ohio', 23, 'Clark', 39.85567, -83.99773)
(1274, 390271002, 'Wilmington', 'Wilmington, OH', 39, 'Ohio', 27, 'Clinton', 39.4275350009257, -83.788916)
(1781, 390350064, 'Berea BOE', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.361835, -81.86457)
(1936, 390355002, 'Mayfield', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.536941999999996, -81.458871)
(2092, 390410002, 'Delaware', 'Columbus, OH', 39, 'Ohio', 41, 'Delaware', 40.356694, -83.063971)
(2247, 390479991, 'Deer Creek', 'Washington Court House, OH', 39, 'Ohio', 47, 'Fayette', 39.6359, -83.2605)
(2772, 390550004, 'Notre Dame', 'Cleveland-Elyria, OH', 39, 'Ohio', 55, 'Geauga', 41.515051, -81.24990600000001)
(2928, 390570006, 'Xenia', 'Dayton, OH', 39, 'Ohio', 57, 'Greene', 39.66575, -83.94268000000001)
(3750, 390830003, 'Centerburg WWTP', 'Mount Vernon, OH', 39, 'Ohio', 83, 'Knox', 40.278860000930706, -82.679563)
(3906, 390850003, 'Eastlake', 'Cleveland-Elyria, OH', 39, 'Ohio', 85, 'Lake', 41.673006, -81.422455)
(4217, 390870011, 'Wilgus', 'Huntington-Ashland, WV-KY-OH', 39, 'Ohio', 87, 'Lawrence', 38.62901, -82.45886)
(4527, 390890005, 'Heath', 'Columbus, OH', 39, 'Ohio', 89, 'Licking', 40.026037, -82.432996)
(4682, 390890008, 'Reynoldsburg', 'Columbus, OH', 39, 'Ohio', 89, 'Licking', 39.954457, -82.75891999999999)
(4837, 390930018, 'Sheffield', 'Cleveland-Elyria, OH', 39, 'Ohio', 93, 'Lorain', 41.420882, -82.095729)
(5149, 390950027, 'Waterville', 'Toledo, OH', 39, 'Ohio', 95, 'Lucas', 41.4942, -83.718949)
(5304, 390950035, 'Cooley', 'Toledo, OH', 39, 'Ohio', 95, 'Lucas', 41.669001, -83.28716999999999)
(5458, 390970007, 'London', 'Columbus, OH', 39, 'Ohio', 97, 'Madison', 39.78819, -83.47606)
(5613, 390990013, 'Oakhill', 'Youngstown-Warren-Boardman, OH-PA', 39, 'Ohio', 99, 'Mahoning', 41.096188, -80.658867)
(5897, 391090005, 'Miami East HS', 'Dayton, OH', 39, 'Ohio', 109, 'Miami', 40.08502, -84.11380799999999)
(6052, 391130037, 'Eastwood', 'Dayton, OH', 39, 'Ohio', 113, 'Montgomery', 39.785644, -84.134412)
(6207, 391219991, 'Quaker City', None, 39, 'Ohio', 121, 'Noble', 39.9428, -81.3373)
(6419, 391331001, 'Lake Rockwell', 'Akron, OH', 39, 'Ohio', 133, 'Portage', 41.182466, -81.330486)
(6784, 391510016, 'Malone Univ', 'Canton-Massillon, OH', 39, 'Ohio', 151, 'Stark', 40.82812, -81.3785)
(6940, 391510022, 'Brewster', 'Canton-Massillon, OH', 39, 'Ohio', 151, 'Stark', 40.712778, -81.598333)
(7096, 391514005, 'Alliance', 'Canton-Massillon, OH', 39, 'Ohio', 151, 'Stark', 40.931329999999996, -81.12351899999999)
(7251, 391530020, 'Patterson Park', 'Akron, OH', 39, 'Ohio', 153, 'Summit', 41.106486, -81.503547)
(7406, 391550011, 'TCSE', 'Youngstown-Warren-Boardman, OH-PA', 39, 'Ohio', 155, 'Trumbull', 41.240453, -80.66272)
(7560, 391550013, 'Kinsman Maintenance', 'Youngstown-Warren-Boardman, OH-PA', 39, 'Ohio', 155, 'Trumbull', 41.454568, -80.589528)
(7867, 391670004, 'Marietta WTP', 'Marietta, OH', 39, 'Ohio', 167, 'Washington', 39.432117, -81.46044300000001)
(8023, 391730003, 'Bowling Green', 'Toledo, OH', 39, 'Ohio', 173, 'Wood', 41.3776850009359, -83.611104)
(878, 390170021, 'Made', 'Cincinnati, OH-KY-IN', 39, 'Ohio', 17, 'Butler', 39.466190000000005, -84.40256)
(2330, 390530004, 'Cheshire Elem', 'Point Pleasant, WV-OH', 39, 'Ohio', 53, 'Gallia', 38.950179999999996, -82.12210999999999)
(2450, 390530005, 'Ridge', 'Point Pleasant, WV-OH', 39, 'Ohio', 53, 'Gallia', 38.89495, -82.14893000000001)
(2570, 390530006, 'Guiding Hand', 'Point Pleasant, WV-OH', 39, 'Ohio', 53, 'Gallia', 38.94945, -82.1104)
(3101, 390810018, 'Cardinal Brilliant', 'Weirton-Steubenville, WV-OH', 39, 'Ohio', 81, 'Jefferson', 40.271976, -80.62955)
(3236, 390810020, 'Self Storage', 'Weirton-Steubenville, WV-OH', 39, 'Ohio', 81, 'Jefferson', 40.259475, -80.639987)
(3840, 390950008, 'Collins Park WTP', 'Toledo, OH', 39, 'Ohio', 95, 'Lucas', 41.66343, -83.47583)
(4089, 391150004, 'Hackney', None, 39, 'Ohio', 115, 'Morgan', 39.63223, -81.67005)
(4748, 391530025, 'NIHF STEM MS', 'Akron, OH', 39, 'Ohio', 153, 'Summit', 41.079159000000004, -81.516235)
(9, 390350051, 'Galleria', 'Cleveland-Elyria, OH', 39, 'Ohio', 35, 'Cuyahoga', 41.504605, -81.69045)

In [ ]:
###and IDK, in case you wanted csv's of the table

In [ ]:
site_info.to_csv(path_or_buf = 'site_info.csv')

In [ ]:
lead_2020.to_csv(path_or_buf = 'lead_2020.csv')

In [ ]:
no2_2020.to_csv(path_or_buf = 'no2_2020.csv')

In [ ]:
pm10_2020.to_csv(path_or_buf = 'pm10_2020.csv')

In [ ]:
pm2_2020.to_csv(path_or_buf = 'pm2_2020.csv')

In [ ]:
ozone_2020.to_csv(path_or_buf= 'ozone_2020.csv')

In [ ]:
so2_2020.to_csv(path_or_buf= 'so2_2020.csv')

In [ ]:
co_2020.to_csv(path_or_buf= 'co.2020.csv')