In [1]:
import pandas as pd

In [2]:
url = 'https://www.ohio-demographics.com/counties_by_population'

In [3]:
tables = pd.read_html(url)
tables

[                                                 Rank  \
 0                                                   1
 1                                                   2
 2                                                   3
 3                                                   4
 4                                                   5
 ..                                                ...
 84                                                 85
 85                                                 86
 86                                                 87
 87                                                 88
 88  United States Census Bureau. B01001 SEX BY AGE...

                                                County  \
 0                                     Franklin County
 1                                     Cuyahoga County
 2                                     Hamilton County
 3                                       Summit County
 4                                   Montgomery County
 ..                                                ...
 84                                      Morgan County
 85                                       Noble County
 86                                      Monroe County
 87                                      Vinton County
 88  United States Census Bureau. B01001 SEX BY AGE...

                                            Population
 0                                             1316756
 1                                             1235072
 2                                              817473
 3                                              541013
 4                                              531687
 ..                                                ...
 84                                              14508
 85                                              14424
 86                                              13654
 87                                              13085
 88  United States Census Bureau. B01001 SEX BY AGE...

 [89 rows x 3 columns]]

In [14]:
cnty_df = tables[0]
cnty_df.columns = ['Rank', 'County', 'Population']
cnty_df.head()

  Rank             County Population
0    1    Franklin County    1316756
1    2    Cuyahoga County    1235072
2    3    Hamilton County     817473
3    4      Summit County     541013
4    5  Montgomery County     531687

In [15]:
cnty_df = cnty_df.drop(['Rank'], axis=1)
cnty_df = cnty_df.drop(cnty_df.index[88])
cnty_df

               County Population
0     Franklin County    1316756
1     Cuyahoga County    1235072
2     Hamilton County     817473
3       Summit County     541013
4   Montgomery County     531687
..                ...        ...
83    Harrison County      15040
84      Morgan County      14508
85       Noble County      14424
86      Monroe County      13654
87      Vinton County      13085

[88 rows x 2 columns]

In [16]:
output_data_file = "resources/cnty_pop.csv"

In [17]:
cnty_df.to_csv(output_data_file, index=False, header=True)